body{

    display: flex;
    flex-direction: column;
    align-items: center;

}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid aqua;
    width: 50%;
}

.canvas-container{
    display: flex;
    flex-direction: column;
}

.label-container{
    display: flex;
    justify-content:space-between;
}

.image-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.freq_group{
    display: flex;
    flex-direction: column;
}

.bloom-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}


.defect-coop-matrix{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 250px;
    width: 500px;
}
.defect-coop-matrix-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border: 1px solid black;
    
}

.color-scheme{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(117, 207, 248);
    width: 500px;
    height: 300px;
    
}

.color-scheme-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}


img{
    max-width: 100%;
    max-height: 100%;
}

.paper-nonrandom-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

figcaption{
    display: block;
    text-align: center;
    font-size: 12px;
}
figure{

    max-width: 100%;
    max-height: 100%;
    margin: 0;
}